body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0px 30px;
    
}
.nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav ul{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
    
}
.right{
    background-image: url(influencer-gear/images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-position: cover;
}
.tag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 69px;
    border-bottom: 2px solid rgb(213, 215, 217) ;
    border-top:2px solid rgb(213, 215, 217);
}
 .btn-first{
    border-radius: 41px;
background: #E02C6D;
display: inline-flex;
padding: 10px 24px;
align-items: flex-start;
gap: 8px;
border: none;
color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.left h3{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 134.615% */
}
.left p{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.icon{
    color: var(--gray-80, #5E6366);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 157.143% */
letter-spacing: 0.1px;
margin-top: 0px;
margin-bottom: 0px;
}
.card p{
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
margin-top: 0px;
margin-bottom: 0px;
}
.card .description{
    color: var(--Gray-50, #787885);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 143%; /* 20.02px */
letter-spacing: 0.252px;
}

.card{
 width: 329px;
height: 476px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
padding: 17px;
}

.card h3{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 250% */
text-align: center;
}
.post{
    /* width: 40px; */
   
  text-align: center;
    
}
.cadpost{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px 0px;
    justify-items: center;
    align-items: center;
    
    /* place-items: center;
    align-items: center;
    grid-row-gap: 0px;
    grid-column-gap: 0px; */
}
.featured{
    display: flex;
    padding: 100px 165px;
}
.featured .text{
    padding: 30px 96px;
    
}
footer{
    background: #0A0826;
    padding: 50px;
}
footer h3{
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
footer p{
    color: var(--Text-Gray-300, #D9DBE1);
font-feature-settings: 'liga' off;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 700;
text-align: center;

}
footer p .lite{
    color: var(--Text-Gray-300, #D9DBE1);
    font-feature-settings: 'liga' off;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    
}
footer span{
    text-align: center;
    display: flex;
   justify-content: center;
   gap: 16px;
}